<div class="row">
    <h3>Lista de solicitudes</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Ubicación</th>
            <th scope="col">Fecha de salida</th>
            <th scope="col">Fecha de llegada</th>
            <th scope="col">Num. Pasajeros</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rent of rents">
            <th>{{rent.location}}</th>
            <td>{{rent.departed | date}}</td>
            <td>{{rent.arrived | date}}</td>
            <td>{{rent.passagers}}</td>
          </tr>
        </tbody>
      </table>
</div>
